.appointment-card {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
}

.appointment-details {
    margin-bottom: 1rem;
    width: 40em;
}

.appointment-details p {
    margin-block: 0em;
}

.appointment-details-time {
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.appointment-card-footer > button {
    margin-left: 0.5em;
}