#root > div {
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 'aside main' 'footer footer';
}

aside {
    grid-area: aside;
    grid-row: 1 / 2;
    grid-column: 1 / auto;
}

main {
    grid-area: main;
    padding-left: 0.75em;
    grid-row: 1 / end;
    grid-column: 2 / auto;
}

main h1 {
    margin: 0;
}

.page-footer {
    grid-area: footer;
    padding: 1.25em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}